# Core

python-dotenv
streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf

# PDF and Data Handling
pypdf
numpy
pandas

# Environment and Utilities
tqdm
requests

# Optional: If you’re using scikit-learn or visualization
scikit-learn
matplotlib
